<!DOCTYPE html>
<html lang="en">
<head>
<!-- META SECTION -->
<title>GQM+Strategies</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="favicon.ico" type="image/x-icon" />

<!-- END META SECTION -->

<!-- CSS INCLUDE -->
<link rel="stylesheet" type="text/css" id="theme"
	href="css/theme-default.css" />
<!-- EOF CSS INCLUDE -->
</head>
<body ng-app="validateModule">

	<!-- START PAGE CONTAINER -->
	<div class="page-container page-navigation-top" ng-controller="validateController">

		<!-- PAGE CONTENT -->
		<div class="page-content">

			<!-- START X-NAVIGATION VERTICAL -->
			<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
				<!-- TOGGLE NAVIGATION -->
				<li><img src="img/logo.png" /></li>
				<!-- END TOGGLE NAVIGATION -->

				<!-- SIGN OUT -->
				<li class="xn-icon-button pull-right"><a href="#"
					class="mb-control" data-box="#mb-signout"><span
						class="fa fa-sign-out"></span></a></li>
				<!-- END SIGN OUT -->
			</ul>
			<!-- END X-NAVIGATION VERTICAL -->

			<!-- START CONTENT FRAME -->
			<div class="content-frame">
				<!-- START CONTENT FRAME TOP -->
				<div class="content-frame-top">
					<div class="page-title">
						<h2>Execute validation</h2>
						<h2 id="page-title-name">&nbsp-&nbsp</h2>
					</div>
				</div>

				<!-- START CONTENT FRAME BODY -->
				<div class="content-frame-body">
					<div class="row">
						<!-- <div class="col-md-3"></div> -->
						<div><!-- class="col-md-6"> -->
							<div class="panel panel-default">
								<div class="panel-body">
									<h4 align="center">Validation Description</h4>
									<!-- <p id="validationDescription"></p> -->
									<table class="table">
										<tr>
											<th>Name</th>
											<th>Type</th>
											<th>Description</th>
											<th>Cardinality</th>
											<th>Comparison Type</th>
											<th>Measure Task Id</th>
											<th>Countermeasure</th>
											<th>Countermeasure Done</th>
										</tr>
										<tr>
											<td>{{validOp.name}}</td>
											<td>{{validOp.type}}</td>
											<td>{{validOp.description}}</td>
											<td>{{validOp.cardinality}}</td>
											<td>{{validOp.compType}}</td>
											<td>{{validOp.measureTaskId}}</td>
											<td>{{validOp.countermeasures}}</td>
											<td>{{validOp.contromeasureDone}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>

					<table class="table">
						<tr>
							<th>Value</th>
							<th>Time Taken</th>
							<th>Validated</th>
						</tr>
						<tr ng-repeat="collected in collectedData">
							<td>
								<input id="measurementValue" value="{{collected.value}}" disabled>
							</td>
							<td>
								<input value="{{collected.date}}" disabled>
							</td>
							<td>
								<input value="{{collected.validated}}" disabled>
							</td>
						</tr>
					</table>

					<div class="form-group">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<button class="btn btn-default btn-block btn-lg"
									id="buttonExecuteValidation">Execute Validation</button>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>

					<div class="form-group" style="display: none;"
						id="groupStringError">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<div class="panel panel-default">
									<div class="panel-body">
										<h4 align="center">Validation failed.</h4>
										<p id="stringError"></p>
									</div>
								</div>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>

					<div class="form-group" style="display: none;"
						id="groupButtonSuccess">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<button class="btn btn-success btn-block btn-lg"
									id="buttonSuccess" ng-click="completeValidation()">Success</button>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>



					<div class="form-group" style="display: none;"
						id="groupInsertError">
						<div class="row">
							<div class="col-md-3 col-xs-12" align="right">Insert error
								message:</div>
							<div class="col-md-6 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"> <span
										class="fa fa-pencil"></span>
									</span> <input class="form-control" type="text" id="insertError">
								</div>
								<span class="help-block">Insert the message for the data
									collector.</span>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>


					<div class="form-group" style="display: none;"
						id="groupRepeateMeasure">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<button class="btn btn-info btn-block btn-lg"
									id="buttonRepeateMeasure">Repeate Measure</button>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>

					<div class="form-group" style="display: none;"
						id="groupControlMetric">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<button class="btn btn-info btn-block btn-lg"
									id="buttonControlMetric">Control Metric</button>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>

					<div class="form-group" style="display: none;"
						id="groupIgnoreValidation">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<button class="btn btn-info btn-block btn-lg"
									id="buttonIgnoreValidation">Ignore Validation</button>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>

				</div>
				<!-- END CONTENT FRAME BODY -->

			</div>
			<!-- END CONTENT FRAME -->

		</div>
		<!-- END PAGE CONTENT -->
	</div>
	<!-- END PAGE CONTAINER -->

	<!-- MESSAGE BOX-->
	<div class="message-box animated fadeIn" data-sound="alert"
		id="mb-signout">
		<div class="mb-container">
			<div class="mb-middle">
				<div class="mb-title">
					<span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?
				</div>
				<div class="mb-content">
					<p>Are you sure you want to log out?</p>
					<p>Press No if you want to continue work. Press Yes to logout
						current user.</p>
				</div>
				<div class="mb-footer">
					<div class="pull-right">
						<a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
						<button class="btn btn-default btn-lg mb-control-close">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END MESSAGE BOX-->

	<!-- START SCRIPTS -->
	<!-- START PLUGINS -->
	<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript"
		src="js/plugins/bootstrap/bootstrap.min.js"></script>
	<!-- END PLUGINS -->

	<!-- START THIS PAGE PLUGINS-->

	<!--<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-select.js"></script> -->

	<!-- <script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>        -->
	<!-- <script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>-->
	<!-- <script type="text/javascript" src="js/plugins/scrolltotop/scrolltopcontrol.js"></script>-->


	<!--<script type="text/javascript" src="js/plugins/morris/raphael-min.js"></script>-->
	<!--<script type="text/javascript" src="js/plugins/moment.min.js"></script>-->
	<!-- <script type="text/javascript" src="js/plugins/morris/morris.min.js"></script>    -->
	<!-- <script type="text/javascript" src="js/plugins/rickshaw/d3.v3.js"></script> -->
	<!-- <script type="text/javascript" src="js/plugins/rickshaw/rickshaw.min.js"></script> -->
	<!--<script type='text/javascript' src='js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>-->
	<!--<script type='text/javascript' src='js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>-->
	<!--<script type='text/javascript' src='js/plugins/bootstrap/bootstrap-datepicker.js'></script>                -->
	<!--<script type="text/javascript" src="js/plugins/owl/owl.carousel.min.js"></script>     -->

	<!--<script type="text/javascript" src="js/plugins/moment.min.js"></script> -->
	<!--<script type="text/javascript" src="js/plugins/daterangepicker/daterangepicker.js"></script> -->
	<script type="text/javascript"
		src="js/plugins/bootstrap/bootstrap-colorpicker.js"></script>
	<script type="text/javascript"
		src="js/plugins/bootstrap/bootstrap-select.js"></script>
	<script type="text/javascript"
		src="js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
	<script type="text/javascript" src="js/webapp_config.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<!-- END THIS PAGE PLUGINS-->

	<!-- START TEMPLATE -->
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/actions.js"></script>

	<!--         <script type="text/javascript" src="js/task.js"></script> -->
	<script type="text/javascript" src="js/manage_cookie.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<!--         <script type="text/javascript" src="js/measurement-collection.js"></script> -->
	<script type="text/javascript" src="js/validate.js"></script>

	<script type="text/javascript" src="js/angular/validateModule.js"></script>



	<!-- END TEMPLATE -->
	<!-- END SCRIPTS -->
</body>
</html>